
*.exe
*.ilk
*.pdb
*.rdi
*.pp
*.o
Debug/
build/
.cxx/

.vs/

*.user
*.bin
*.lock
*.probe
*.obj

*old.simd.asm

*.exp
*.lib
*.dll

test.wasm
test.em
test.html
test.js

tests/android_vs2019/.agde/agde.gradle
tests/android_vs2019/.gradle/buildOutputCleanup/cache.properties

test.spv